
.ctlBtn { border: 1px outset #20; background:#cfeaf1; margin: 2px;
margin-right:5px; padding-left: 2px; padding-right: 2px;
display: block; text-align:center; }

.count { font-weight: bold; font-size: 10px; }

.hightlight { color: #1469AB; font-weight: bold; } 
		
.error { color: red; }

.text { color: #1469AB; }
